.wrap {
  height: 100%;
  background: linear-gradient(
    130deg,
    rgb(106, 221, 190) 0%,
    rgb(83 185 247) 81%,
    rgb(93, 184, 161) 100%
  );
}

.chart-wrap {
  padding: 20px;
  max-width: 80% !important;
  margin: 0 auto;
}

ul {
  display: inline-flex;
  gap: 20px;
  list-style: none;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(86, 187, 255);
}

canvas {
  border-radius: 1rem;
  background: linear-gradient(
    130deg,
    rgb(85, 255, 210) 0%,
    rgb(83, 247, 119) 81%,
    rgb(65, 192, 154) 100%
  );
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
}
