{
  "extends": ["react-app", "eslint:recommended", "prettier"],
  "rules": {
    "no-var": "error",
    "no-multiple-empty-lines": "error",
    "no-console": ["warn", { "allow": ["warn", "error", "info", "confirm"] }],
    "eqeqeq": "error",
    "dot-notation": "error",
    "no-restricted-globals": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "no-unused-vars": "off"
  }
}
